@import "tailwindcss";
@import "@fontsource/poppins";

:root {
  --background: #02010A;
  --normalText: #979DAC;
  --importantText: #6fffe9;

  --sun: #dbaf0f;
  --moon: #c3cde6;
}

@theme inline {
  --color-background: var(--background);
  --color-normalText: var(--normalText);
  --color-importantText: var(--importantText);
  --color-sun: var(--sun);
  --color-moon: var(--moon);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--normalText);
  font-family: "Poppins", sans-serif;
}
